boto3==1.11.9
botocore==1.14.9
streamlit==0.53.0
requests==2.31.0
flask==1.1.1
gunicorn

-f https://download.pytorch.org/whl/cpu/torch_stable.html torch
-f https://download.pytorch.org/whl/cpu/torch_stable.html torchvision

fastai==1.0.60

pandas==0.25.3
numpy==1.18.1
Pillow==7.0.0
